In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser

In [3]:
link = 'https://pandas.pydata.org/docs/user_guide/io.html#io-clipboard'
webbrowser.open(link)

True

# 剪切板的读取和写入

In [9]:
df1 = pd.read_clipboard()

In [10]:
df1

   A  B  C
x  1  4  p
y  2  5  q
z  3  6  r

In [11]:
# 可以直接复制到Excel里面
df1.to_clipboard()

# CSV文件的读写操作

In [12]:
df1

   A  B  C
x  1  4  p
y  2  5  q
z  3  6  r

In [13]:
df1.to_csv('df1.csv')
# df1.to_csv('df1.csv', index=False)
# index可以去掉

In [14]:
!dir

 驱动器 C 中的卷是 OS
 卷的序列号是 F8ED-C186

 C:\Users\83707\Py_Data_Analysis 的目录

2020/03/01  11:56    <DIR>          .
2020/03/01  11:56    <DIR>          ..
2020/03/01  11:35    <DIR>          .ipynb_checkpoints
2020/02/28  13:29             8,779 Array.ipynb
2020/02/28  14:54             7,407 Array_input_output.ipynb
2020/02/28  14:25            16,812 Array_matrix_operations.ipynb
2020/02/28  17:08            29,122 Dataframe.ipynb
2020/03/01  11:53             3,280 Dataframe_IO.ipynb
2020/03/01  11:56                35 df1.csv
2020/02/28  11:50             1,357 helloworld.ipynb
2020/03/01  11:33            14,126 More_series_dataframe.ipynb
2020/02/28  14:48               168 one_array.npy
2020/02/28  16:16            10,678 Series.ipynb
2020/02/28  14:52               610 two_array.npz
2020/02/28  14:47               195 x.pkl
              12 个文件         92,569 字节
               3 个目录 616,811,577,344 可用字节

In [15]:
df2 = pd.read_csv('df1.csv')

In [16]:
df2

  Unnamed: 0  A  B  C
0          x  1  4  p
1          y  2  5  q
2          z  3  6  r

In [17]:
df1

   A  B  C
x  1  4  p
y  2  5  q
z  3  6  r

# JSON

In [18]:
df1.to_json()

'{"A":{"x":1,"y":2,"z":3},"B":{"x":4,"y":5,"z":6},"C":{"x":"p","y":"q","z":"r"}}'

In [19]:
pd.read_json(df1.to_json())

   A  B  C
x  1  4  p
y  2  5  q
z  3  6  r

# HTML和Dataframe的相互转化

In [20]:
df1.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>A</th>\n      <th>B</th>\n      <th>C</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>x</th>\n      <td>1</td>\n      <td>4</td>\n      <td>p</td>\n    </tr>\n    <tr>\n      <th>y</th>\n      <td>2</td>\n      <td>5</td>\n      <td>q</td>\n    </tr>\n    <tr>\n      <th>z</th>\n      <td>3</td>\n      <td>6</td>\n      <td>r</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
df1.to_html('df1.html')

In [22]:
!dir

 驱动器 C 中的卷是 OS
 卷的序列号是 F8ED-C186

 C:\Users\83707\Py_Data_Analysis 的目录

2020/03/01  12:05    <DIR>          .
2020/03/01  12:05    <DIR>          ..
2020/03/01  11:35    <DIR>          .ipynb_checkpoints
2020/02/28  13:29             8,779 Array.ipynb
2020/02/28  14:54             7,407 Array_input_output.ipynb
2020/02/28  14:25            16,812 Array_matrix_operations.ipynb
2020/02/28  17:08            29,122 Dataframe.ipynb
2020/03/01  12:05            12,706 Dataframe_IO.ipynb
2020/03/01  11:56                35 df1.csv
2020/03/01  12:05               461 df1.html
2020/02/28  11:50             1,357 helloworld.ipynb
2020/03/01  11:33            14,126 More_series_dataframe.ipynb
2020/02/28  14:48               168 one_array.npy
2020/02/28  16:16            10,678 Series.ipynb
2020/02/28  14:52               610 two_array.npz
2020/02/28  14:47               195 x.pkl
              13 个文件        102,456 字节
               3 个目录 616,807,723,008 可用字节

In [23]:
df_html = pd.read_html('df1.html')

In [24]:
df_html

[  Unnamed: 0  A  B  C
 0          x  1  4  p
 1          y  2  5  q
 2          z  3  6  r]

In [25]:
type(df_html)

list

# Excel

In [26]:
df1.to_excel('df1.xlsx')