In [9]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# 只用一行实现

In [12]:
pd.read_csv('movie_metadata.csv')[['imdb_score','director_name','movie_title']].sort_values('imdb_score', ascending=False)

      imdb_score         director_name                      movie_title
2765         9.5        John Blanchard    Towering Inferno
1937         9.3        Frank Darabont        The Shawshank Redemption
3466         9.2  Francis Ford Coppola                   The Godfather
4409         9.1        John Stockwell            Kickboxer: Vengeance
2824         9.1                   NaN             Dekalog
...          ...                   ...                              ...
2268         1.9       Jason Friedberg                  Disaster Movie
2295         1.9             Bob Clark    Superbabies: Baby Geniuses 2
4605         1.9         A. Raven Cruz             The Helix... Loaded
1136         1.7     Lawrence Kasanoff                      Foodfight!
2834         1.6            Jon M. Chu  Justin Bieber: Never Say Never

[5043 rows x 3 columns]

In [11]:
pd.read_csv('movie_metadata.csv')[['imdb_score','director_name','movie_title']].sort_values('imdb_score', ascending=False).to_csv('imdb.csv')