In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# create a dataframe
df1 = DataFrame({'city':['beijing','shanghai','guangzhou'],'population':[1000,2000,1500]})

In [3]:
df1

        city  population
0    beijing        1000
1   shanghai        2000
2  guangzhou        1500

In [4]:
df1['GDP'] = Series([1000,2000,1500])

In [5]:
df1

        city  population   GDP
0    beijing        1000  1000
1   shanghai        2000  2000
2  guangzhou        1500  1500

# Mapping

In [6]:
gdp_map = {'beijing':1000, 'shanghai':2000, 'guangzhou':1500}

In [7]:
df2 = DataFrame({'city':['beijing','shanghai','guangzhou'],'population':[1000,2000,1500]})

In [8]:
df2

        city  population
0    beijing        1000
1   shanghai        2000
2  guangzhou        1500

In [9]:
df2['GDP'] = df2['city'].map(gdp_map)

In [10]:
df2

        city  population   GDP
0    beijing        1000  1000
1   shanghai        2000  2000
2  guangzhou        1500  1500

In [16]:
df3 = DataFrame({'city':['beijing','shanghai','guangzhou'],'population':[1000,2000,1500]}, index=['A','B','C'])

In [17]:
df3

        city  population
A    beijing        1000
B   shanghai        2000
C  guangzhou        1500

In [18]:
df3['GDP'] = Series([1000,2000,1500])

In [19]:
df3

        city  population  GDP
A    beijing        1000  NaN
B   shanghai        2000  NaN
C  guangzhou        1500  NaN

In [20]:
df3['GDP'] = Series([1000,2000,1500], index=['A','B','C'])

In [21]:
df3

        city  population   GDP
A    beijing        1000  1000
B   shanghai        2000  2000
C  guangzhou        1500  1500

# Replace in Series

In [22]:
s1 = Series(np.arange(10))

In [23]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [24]:
s1.replace(1,np.nan)

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [25]:
s1.replace({1:np.nan})

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [26]:
s1.replace([1,2,3],[10,20,30])

0     0
1    10
2    20
3    30
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int64