In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = {
    'Country':['Belguim', 'India', 'Brazil'],
    'Capital':['Brusseles', 'New Delhi', 'Brasilia'],
    'Population':[11190846, 1303171035, 207847528]
}

In [3]:
data

{'Country': ['Belguim', 'India', 'Brazil'],
 'Capital': ['Brusseles', 'New Delhi', 'Brasilia'],
 'Population': [11190846, 1303171035, 207847528]}

# Series

In [7]:
s1 = pd.Series(data['Country'], index=['A','B','C'])

In [8]:
s1

A    Belguim
B      India
C     Brazil
dtype: object

In [9]:
s1.index

Index(['A', 'B', 'C'], dtype='object')

# Dataframe

In [10]:
df1 = pd.DataFrame(data)

In [11]:
df1

   Country    Capital  Population
0  Belguim  Brusseles    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [13]:
cou = df1['Country']

In [14]:
type(cou)

pandas.core.series.Series

In [15]:
df1.iterrows()

In [18]:
for row in df1.iterrows():
    print(row), print(type(row)), print(len(row))

(0, Country         Belguim
Capital       Brusseles
Population     11190846
Name: 0, dtype: object)
<class 'tuple'>
2
(1, Country            India
Capital        New Delhi
Population    1303171035
Name: 1, dtype: object)
<class 'tuple'>
2
(2, Country          Brazil
Capital        Brasilia
Population    207847528
Name: 2, dtype: object)
<class 'tuple'>
2

In [19]:
# row[0]是0, row[1]是剩下的全部
for row in df1.iterrows():
    print(row[0], row[1])
    break

0 Country         Belguim
Capital       Brusseles
Population     11190846
Name: 0, dtype: object

In [20]:
for row in df1.iterrows():
    print(type(row[0]), type(row[1]))
    break

<class 'int'> <class 'pandas.core.series.Series'>

一个Dataframe由多个Series组成

In [21]:
df1

   Country    Capital  Population
0  Belguim  Brusseles    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [22]:
data

{'Country': ['Belguim', 'India', 'Brazil'],
 'Capital': ['Brusseles', 'New Delhi', 'Brasilia'],
 'Population': [11190846, 1303171035, 207847528]}

# 通过Series创建Dataframe

In [23]:
s2 = pd.Series(data['Capital'])

In [24]:
s3 = pd.Series(data['Country'])

In [25]:
s4 = pd.Series(data['Population'])

In [32]:
# 设置列首
df_new = pd.DataFrame([s2,s3,s4], index=['Capital','Country','Population'])

In [33]:
# 翻转表方向
df_new = df_new.T

In [34]:
df1

   Country    Capital  Population
0  Belguim  Brusseles    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [35]:
df_new

     Capital  Country  Population
0  Brusseles  Belguim    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528