In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series reindex

In [2]:
s1 = Series([1,2,3,4], index=['A','B','C','D'])

In [3]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
s1.reindex(index=['A','B','C','D','E'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [6]:
s1.reindex(index=['A','B','C','D','E'], fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [7]:
s2 = Series(['A','B','C'], index=[1,5,10])

In [8]:
s2

1     A
5     B
10    C
dtype: object

In [10]:
s2.reindex(index=range(15),method='ffill')

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

# Dataframe reindex

In [13]:
df1 = DataFrame(np.random.randn(25).reshape(5,5), index=['A','B','D','E','F'], columns=['c1','c2','c3','c4','c5'])

In [14]:
df1

         c1        c2        c3        c4        c5
A -0.593793  0.001716  0.698664  0.679180 -0.854806
B  0.707580 -0.730009  0.159864 -2.565109 -0.978132
D -0.235451 -0.797921  0.400087  0.479810  0.968313
E -0.541264  0.046742  0.723084 -0.939603  0.886064
F  0.325502 -1.104385 -1.448004  0.210763  0.852236

In [15]:
df1.reindex(index=['A','B','C','D','E','F'])

         c1        c2        c3        c4        c5
A -0.593793  0.001716  0.698664  0.679180 -0.854806
B  0.707580 -0.730009  0.159864 -2.565109 -0.978132
C       NaN       NaN       NaN       NaN       NaN
D -0.235451 -0.797921  0.400087  0.479810  0.968313
E -0.541264  0.046742  0.723084 -0.939603  0.886064
F  0.325502 -1.104385 -1.448004  0.210763  0.852236

In [16]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A -0.593793  0.001716  0.698664  0.679180 -0.854806 NaN
B  0.707580 -0.730009  0.159864 -2.565109 -0.978132 NaN
D -0.235451 -0.797921  0.400087  0.479810  0.968313 NaN
E -0.541264  0.046742  0.723084 -0.939603  0.886064 NaN
F  0.325502 -1.104385 -1.448004  0.210763  0.852236 NaN

In [17]:
df1.reindex(index=['A','B','C','D','E','F'], columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A -0.593793  0.001716  0.698664  0.679180 -0.854806 NaN
B  0.707580 -0.730009  0.159864 -2.565109 -0.978132 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D -0.235451 -0.797921  0.400087  0.479810  0.968313 NaN
E -0.541264  0.046742  0.723084 -0.939603  0.886064 NaN
F  0.325502 -1.104385 -1.448004  0.210763  0.852236 NaN

In [18]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [19]:
s1.reindex(index=['A','B'])

A    1
B    2
dtype: int64

In [20]:
df1.reindex(index=['A','B'])

         c1        c2        c3        c4        c5
A -0.593793  0.001716  0.698664  0.679180 -0.854806
B  0.707580 -0.730009  0.159864 -2.565109 -0.978132

删除index

In [21]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [22]:
s1.drop('A')

B    2
C    3
D    4
dtype: int64

In [24]:
df1

         c1        c2        c3        c4        c5
A -0.593793  0.001716  0.698664  0.679180 -0.854806
B  0.707580 -0.730009  0.159864 -2.565109 -0.978132
D -0.235451 -0.797921  0.400087  0.479810  0.968313
E -0.541264  0.046742  0.723084 -0.939603  0.886064
F  0.325502 -1.104385 -1.448004  0.210763  0.852236

In [25]:
# axis=0, 删除row
df1.drop('A', axis=0)

         c1        c2        c3        c4        c5
B  0.707580 -0.730009  0.159864 -2.565109 -0.978132
D -0.235451 -0.797921  0.400087  0.479810  0.968313
E -0.541264  0.046742  0.723084 -0.939603  0.886064
F  0.325502 -1.104385 -1.448004  0.210763  0.852236

In [26]:
# axis=1, 删除column
df1.drop('c1', axis=1)

         c2        c3        c4        c5
A  0.001716  0.698664  0.679180 -0.854806
B -0.730009  0.159864 -2.565109 -0.978132
D -0.797921  0.400087  0.479810  0.968313
E  0.046742  0.723084 -0.939603  0.886064
F -1.104385 -1.448004  0.210763  0.852236