In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series的排序

In [2]:
s1 = Series(np.random.randn(10))

In [3]:
s1

0   -1.579217
1   -0.780550
2    0.358587
3    0.011472
4   -0.587725
5   -0.315136
6   -0.009403
7    1.203433
8   -1.284728
9    0.286088
dtype: float64

In [4]:
s1.values

array([-1.57921682, -0.78055028,  0.3585874 ,  0.01147179, -0.58772469,
       -0.31513649, -0.00940269,  1.20343314, -1.28472837,  0.28608802])

In [5]:
s1.index

RangeIndex(start=0, stop=10, step=1)

按照values排序

In [6]:
s2 = s1.sort_values()

In [7]:
s2

0   -1.579217
8   -1.284728
1   -0.780550
4   -0.587725
5   -0.315136
6   -0.009403
3    0.011472
9    0.286088
2    0.358587
7    1.203433
dtype: float64

In [8]:
s2 = s1.sort_values(ascending=False)

In [9]:
s2

7    1.203433
2    0.358587
9    0.286088
3    0.011472
6   -0.009403
5   -0.315136
4   -0.587725
1   -0.780550
8   -1.284728
0   -1.579217
dtype: float64

按照index排序

In [10]:
s2.sort_index()

0   -1.579217
1   -0.780550
2    0.358587
3    0.011472
4   -0.587725
5   -0.315136
6   -0.009403
7    1.203433
8   -1.284728
9    0.286088
dtype: float64

# Dataframe的排序

In [13]:
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['A','B','C','D','E'])

In [14]:
df1

          A         B         C         D         E
0 -1.692292  0.696616  0.884704  0.800174 -0.394549
1  0.402417 -0.489005  0.245780 -1.330334  0.964391
2 -1.034793  0.007494  0.557925 -0.367578  0.153251
3  0.449197 -1.238600  0.738746 -0.531087  1.675060
4 -0.049439  1.779549 -1.018408  1.494279  1.140652
5 -0.090836 -0.336204  1.100267  0.073224  1.980527
6  0.797402 -0.618668  0.553781 -0.308470 -1.594297
7  0.937401  1.258807  0.105930 -1.828484 -1.447500

In [16]:
df1['A'].sort_values()

0   -1.692292
2   -1.034793
5   -0.090836
4   -0.049439
1    0.402417
3    0.449197
6    0.797402
7    0.937401
Name: A, dtype: float64

In [17]:
df1.sort_values('A')

          A         B         C         D         E
0 -1.692292  0.696616  0.884704  0.800174 -0.394549
2 -1.034793  0.007494  0.557925 -0.367578  0.153251
5 -0.090836 -0.336204  1.100267  0.073224  1.980527
4 -0.049439  1.779549 -1.018408  1.494279  1.140652
1  0.402417 -0.489005  0.245780 -1.330334  0.964391
3  0.449197 -1.238600  0.738746 -0.531087  1.675060
6  0.797402 -0.618668  0.553781 -0.308470 -1.594297
7  0.937401  1.258807  0.105930 -1.828484 -1.447500

In [18]:
df2 = df1.sort_values('A')

In [19]:
df2

          A         B         C         D         E
0 -1.692292  0.696616  0.884704  0.800174 -0.394549
2 -1.034793  0.007494  0.557925 -0.367578  0.153251
5 -0.090836 -0.336204  1.100267  0.073224  1.980527
4 -0.049439  1.779549 -1.018408  1.494279  1.140652
1  0.402417 -0.489005  0.245780 -1.330334  0.964391
3  0.449197 -1.238600  0.738746 -0.531087  1.675060
6  0.797402 -0.618668  0.553781 -0.308470 -1.594297
7  0.937401  1.258807  0.105930 -1.828484 -1.447500

In [20]:
df2.sort_index()

          A         B         C         D         E
0 -1.692292  0.696616  0.884704  0.800174 -0.394549
1  0.402417 -0.489005  0.245780 -1.330334  0.964391
2 -1.034793  0.007494  0.557925 -0.367578  0.153251
3  0.449197 -1.238600  0.738746 -0.531087  1.675060
4 -0.049439  1.779549 -1.018408  1.494279  1.140652
5 -0.090836 -0.336204  1.100267  0.073224  1.980527
6  0.797402 -0.618668  0.553781 -0.308470 -1.594297
7  0.937401  1.258807  0.105930 -1.828484 -1.447500