In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/HR.csv')

In [4]:
df.head(10)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low

In [5]:
type(df['satisfaction_level'])

pandas.core.series.Series

In [6]:
df.mean()

satisfaction_level         0.612839
last_evaluation           67.373732
number_project             3.802693
average_monthly_hours    201.041728
time_spend_company         3.498067
Work_accident              0.144581
left                       0.238235
promotion_last_5years      0.021264
dtype: float64

In [7]:
type(df.mean())

pandas.core.series.Series

# 集中趋势

均值

In [8]:
df['satisfaction_level'].mean()

0.6128393333333343

中位数

In [10]:
df['satisfaction_level'].median()

0.64

分位数

In [11]:
df.quantile(q=0.25)

satisfaction_level         0.44
last_evaluation            0.56
number_project             3.00
average_monthly_hours    156.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
Name: 0.25, dtype: float64

众数

In [12]:
df.mode()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.1,0.55,4.0,135,3.0,0.0,0.0,0.0,sales,low
1,NaN,NaN,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df['department'].mode()

0    sales
dtype: object

In [14]:
type(df['department'].mode())

pandas.core.series.Series

# 离中趋势

标准差

In [15]:
df.std()

satisfaction_level          0.248623
last_evaluation          8164.407524
number_project              1.232733
average_monthly_hours      49.941815
time_spend_company          1.460053
Work_accident               0.351689
left                        0.426018
promotion_last_5years       0.144267
dtype: float64

方差

In [16]:
df.var()

satisfaction_level       6.181359e-02
last_evaluation          6.665755e+07
number_project           1.519630e+00
average_monthly_hours    2.494185e+03
time_spend_company       2.131754e+00
Work_accident            1.236854e-01
left                     1.814911e-01
promotion_last_5years    2.081307e-02
dtype: float64

求和

In [17]:
df.sum()

satisfaction_level                                                 9192.59
last_evaluation                                                1.01074e+06
number_project                                                       57048
average_monthly_hours                                              3016028
time_spend_company                                                   52478
Work_accident                                                         2169
left                                                                  3574
promotion_last_5years                                                  319
department               salessalessalessalessalessalessalessalessaless...
salary                   lowmediummediumlowlowlowlowlowlowlowlowlowlowl...
dtype: object

偏态系数

In [18]:
# 正偏大，负偏小
df.skew()

satisfaction_level        -0.476438
last_evaluation          122.482652
number_project             0.337774
average_monthly_hours      0.053225
time_spend_company         1.853530
Work_accident              2.021481
left                       1.229057
promotion_last_5years      6.637677
dtype: float64

In [19]:
df['last_evaluation'].skew()

122.48265175204614

峰度系数

In [20]:
# 负平缓，正陡峭
df.kurt()

satisfaction_level          -0.670696
last_evaluation          15001.999987
number_project              -0.495810
average_monthly_hours       -1.135016
time_spend_company           4.774353
Work_accident                2.086664
left                        -0.489485
promotion_last_5years       42.064357
dtype: float64

In [21]:
import scipy.stats as ss

# 正态分布

In [22]:
ss.norm

In [23]:
# m均值，v方差，s偏态系数，k峰度系数
ss.norm.stats(moments='mvsk')

(array(0.), array(1.), array(0.), array(0.))

In [24]:
# 输入正态分布横坐标，返回纵坐标的值
ss.norm.pdf(0.0)

0.3989422804014327

In [25]:
# 从负无穷到参数的积分
ss.norm.ppf(0.9)

1.2815515655446004

In [27]:
# 从负无穷到参数的累积概率
ss.norm.cdf(2)

0.9772498680518208

In [28]:
# 落在正负两倍标准差的概率
ss.norm.cdf(2)-ss.norm.cdf(-2)

0.9544997361036416

In [29]:
# 返回十个符合正态分布的数字
ss.norm.rvs(size=10)

array([ 0.10011792,  1.7704759 , -0.11916092,  0.74179479, -0.34413806,
       -0.27985511,  0.35641974, -0.68592598,  0.79848226, -1.53166305])

# 卡方分布

In [30]:
ss.chi2

# T分布

In [32]:
ss.t

# F分布

In [33]:
ss.f

# 抽样

In [34]:
df.sample(n=10)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
8509,0.60,0.98,4,192,3,0,0,0,technical,low
2703,0.76,0.93,3,271,5,0,0,0,hr,low
3035,0.34,0.82,6,197,5,1,0,0,technical,medium
9956,0.59,0.82,3,149,3,0,0,0,hr,low
13529,0.75,0.94,5,194,4,0,0,0,technical,low
10865,0.96,0.68,3,132,2,0,0,0,sales,medium
13716,0.65,0.89,4,204,8,1,0,0,support,low
2951,0.80,0.55,2,212,3,0,0,0,support,medium
13760,0.73,0.92,6,189,3,1,0,0,sales,medium
11378,0.68,0.53,3,138,2,1,0,0,sales,low

In [35]:
df.sample(frac=0.001)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
12086,0.17,0.84,5,232,3,0,1,0,sales,low
11642,0.69,0.65,3,153,2,0,0,0,marketing,medium
8642,0.59,0.54,4,210,3,0,0,0,sales,low
14986,0.85,0.85,4,247,6,0,1,0,technical,low
4764,0.89,0.75,3,134,3,0,0,0,hr,low
3118,0.50,0.77,3,166,3,0,0,0,IT,medium
3405,0.69,0.96,3,210,3,0,0,0,support,low
377,0.44,0.56,2,158,3,0,1,0,accounting,medium
2177,0.17,0.92,4,189,2,0,0,0,technical,medium
12496,0.10,0.82,6,244,4,0,1,0,technical,medium
10702,0.59,0.96,5,211,3,0,0,0,sales,medium
3487,0.14,0.46,2,267,6,1,0,0,support,low
7698,0.96,0.60,4,170,2,1,0,0,product_mng,low
7532,0.62,0.56,4,267,4,0,0,0,support,medium
12632,0.11,0.89,6,260,5,0,1,0,sales,low