In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/HR.csv')

In [3]:
df

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low
15001,0.70,0.40,2,158,2,0,1,0,sale,nme

In [4]:
le_s = df['last_evaluation']

# 异常值检测

In [5]:
# 返回结果为空，没有null
le_s[le_s.isna()]

Series([], Name: last_evaluation, dtype: float64)

In [6]:
le_s.mean()

67.37373216904412

In [7]:
le_s.std()

8164.407523745649

In [8]:
le_s.median()

0.72

In [9]:
# 可能有问题
le_s.max()

999999.0

In [10]:
le_s.min()

0.36

In [11]:
# 极度正偏
le_s.skew()

122.48265175204614

In [12]:
# 形变非常大
le_s.kurt()

15001.999986807796

In [13]:
# 完全偏离范围
le_s[le_s>1]

15000    999999.0
Name: last_evaluation, dtype: float64

去掉异常值

In [14]:
le_s = le_s[le_s<=1]

In [15]:
le_s

0        0.53
1        0.86
2        0.88
3        0.87
4        0.52
         ...
14996    0.53
14997    0.96
14998    0.52
14999    0.52
15001    0.40
Name: last_evaluation, Length: 15001, dtype: float64

通过上下界得到正常值

In [16]:
le_s = df['last_evaluation']

In [17]:
q_low = le_s.quantile(q=0.25)

In [18]:
q_high = le_s.quantile(q=0.75)

In [20]:
q_interval = q_high - q_low

In [21]:
k = 1.5

In [22]:
le_s = le_s[le_s<q_high + k*q_interval][le_s>q_low - k*q_interval]

In [23]:
le_s

0        0.53
1        0.86
2        0.88
3        0.87
4        0.52
         ...
14996    0.53
14997    0.96
14998    0.52
14999    0.52
15001    0.40
Name: last_evaluation, Length: 15001, dtype: float64

In [24]:
np.histogram(le_s.values, bins=np.arange(0.0,1.1,0.1))

(array([   0,    0,    0,  179, 1390, 3396, 2234, 2062, 2752, 2988],
       dtype=int64),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))

In [25]:
le_s.mean()

0.7160675954936238

In [26]:
le_s.std()

0.17118464250786247

In [27]:
le_s.median()

0.72

In [28]:
le_s.max()

1.0

In [29]:
le_s.skew()

-0.02653253746872579

In [30]:
le_s.kurt()

-1.2390454655108427