In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./data/HR.csv')

In [4]:
df

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low
15001,0.70,0.40,2,158,2,0,1,0,sale,nme

# 异常值分析

In [5]:
sl_s = df['satisfaction_level']

In [6]:
sl_s.isna()

0        False
1        False
2        False
3        False
4        False
         ...
14997    False
14998    False
14999     True
15000     True
15001    False
Name: satisfaction_level, Length: 15002, dtype: bool

In [7]:
sl_s[sl_s.isna()]

14999   NaN
15000   NaN
Name: satisfaction_level, dtype: float64

In [8]:
df[df['satisfaction_level'].isna()]

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low

丢弃异常值

In [9]:
sl_s = sl_s.dropna()

In [10]:
sl_s

0        0.38
1        0.80
2        0.11
3        0.72
4        0.37
         ...
14995    0.37
14996    0.37
14997    0.11
14998    0.37
15001    0.70
Name: satisfaction_level, Length: 15000, dtype: float64

In [11]:
sl_s.mean()

0.6128393333333343

In [12]:
sl_s.std()

0.24862338135945417

In [13]:
sl_s.max()

1.0

In [14]:
sl_s.min()

0.09

In [15]:
sl_s.median()

0.64

In [17]:
sl_s.quantile(q=0.25)

0.44

In [18]:
sl_s.quantile(q=0.75)

0.82

In [19]:
sl_s.skew()

-0.47643761717258093

In [20]:
sl_s.kurt()

-0.6706959323886252

In [21]:
np.histogram(sl_s.values, bins=np.arange(0.0,1.1,0.1))

(array([ 195, 1214,  532,  974, 1668, 2146, 1973, 2074, 2220, 2004],
       dtype=int64),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))